@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');



.slide-in {
    animation: slideIn 0.5s ease-out forwards;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in {
    animation: fadeIn 0.3s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.custom-radio:checked+label {
    background-color: #e0f2fe;
    border-color: #009FE3;
    color: #009FE3;
}

/* Style pour les cartes de solutions */
.solution-card {
    border-left: 4px solid #E6007E;
    transition: all 0.3s ease;
}

.solution-card:hover {
    transform: translateX(5px);
}

/* Ajout de styles pour les transitions douces */
.input-modern {
    transition: all 0.3s ease;
}

.input-modern:focus {
    transform: translateY(-1px);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

body {
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}